<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--namespace的内容填的是Mapper接口的全限定类名-->
<mapper namespace="com.ttt.springboot.mapper.UserMapper">

    <!--id里填的是mapper接口里的方法名称-->
    <update id="update">
        update sys_user
        <set>
            <if test="username!=null">
                username=#{username},
            </if>
            <if test="nickname!=null">
                nickname=#{nickname},
            </if>
            <if test="email!=null">
                email=#{email},
            </if>
            <if test="phone!=null">
                phone=#{phone},
            </if>
            <if test="address!=null">
                address=#{address}
            </if>
        </set>

        <where>
            id=#{id}
        </where>
    </update>
</mapper>
    